{% extends "general/base.html" %}

{% block title %}
    Nová výsadba
{% endblock %}

{% block content %}
    <form action={% url 'spravaPoli:nova vysadba' cast_id cyklus_id %} method="POST">
    {% csrf_token %}
    {% if form %}
        <p>Pridanie novej výsadby: </p>
        {% for field in form %}
            {{ field.errors }}
            {{ field.label_tag }} {{ field }} <br>
        {%  endfor %}
        <input type="hidden" value={{ cyklus_id }} name="cyklus" id="cyklus">
        <input type="submit" value="Potvrdiť" class="button2" />
        <a href="{% url 'spravaPoli:prehlad casti' cast_id %}" class="button2">Späť na prehľad casti</a>
    </form>
    {% else %}
    <p>Ohhhh</p>
    {% endif %}
{% endblock %}
