{% extends "general/base.html" %}

{% block title %}
    Nová časť
{% endblock %}

{% block content %}
    <form action={% url 'spravaPoli:nova cast' %} method="POST">
    {% csrf_token %}
    {% if form %}
        <p>Pridanie novej časti</p>
        {{ form.as_p }}

        <input class="button2" type="submit" value="Potvrdiť" />
        <a href="{% url 'spravaPoli:prehlad pola' %}" class="button2">Späť na prehľad poľa</a>
    </form>
    {% else %}
    <p>Ohhhh</p>
    {% endif %}
{% endblock %}
