<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block content %}
    {% for cast in casti %}
        <div>
            <h5><a href={% url 'spravaPoli:prehlad casti' cast.id %}>{{ cast.meno }}</a></h5>
            <p>
                Meno: {{ cast.pozemok }}
                Rozloha: {{ cast.rozloha }}
                Pouzivany: {% if cast.pouzivany %} Ano {% else %} Nie {% endif %}
                Pozemok: {{ cast.pozemok.id }}
            </p>
        </div>
    {% endfor %}
    {% for plod in plodiny %}
        <div><a href={% url 'spravaPoli:prehlad plodiny' plod.id %}><h5>{{ plod.meno }}</h5></a></div>
    {% endfor %}

<a href="{% url 'spravaPoli:nova cast' %}">nova cast</a>
<a href="{% url 'spravaPoli:nova plodina' %}">nova plodina</a>
{% endblock %}
</body>
</html>