{% extends "general/base.html" %}

{% block title %}
    Prehľad plodiny - {{ data.first.plodina.meno }}
{% endblock %}

{% block content %}
    {% if data %}
        <table>
            <th><td>Pole</td><td>Rozloha</td><td>Dátum výsadby</td><td>Množstvo</td><td>Náklady</td><td>Dátum zberu</td><td>Úroda</td><td>Zisk</td><td>:)</td></th>
            {% for cyklus in data %}
            <tr><td>{{ cyklus.cast.meno }}</td><td>{{ cyklus.cast.rozloha }}</td><td>{{ cyklus.vysadba.datumVysadby }}</td>
                <td>{{ cyklus.vysadba.vysadeneMnozstvo }}</td><td>{{ cyklus.vysadba.naklady }}</td>
                <td>{{ cyklus.zber.datumZberu }}</td><td>{{ cyklus.zber.uroda }}</td><td>{{ cyklus.zber.zisk }}</td></tr>
            {% endfor %}
        </table>
    {% else %}
        <p>Táto plodina ešte nebola použitá!</p>
    {% endif %}
    <a href="{% url 'spravaPoli:prehlad pola' %}" class="button2">Späť na prehľad pola</a>
{% endblock %}